.jumbotron h2 {
    font-size: 48px;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Estilo de fuente en negrita */
    color: #b9270d;
    /* Color del texto destacado */
    text-align: center;
    /* Alineación del texto en el centro */
    text-transform: uppercase;
    /* Convertir el texto en mayúsculas */
    letter-spacing: 2px;
    /* Espaciado entre letras */
}

.jumbotron p {
    text-align: justify;
}

.contact-form .btn {
    width: 100%;
}

.required-field {
    font-weight: bold;
}