.jumbotron h2 {
    font-size: 48px;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Estilo de fuente en negrita */
    color: #b9270d;
    /* Color del texto destacado */
    text-align: center;
    /* Alineación del texto en el centro */
    text-transform: uppercase;
    /* Convertir el texto en mayúsculas */
    letter-spacing: 2px;
    /* Espaciado entre letras */
}

.jumbotron p {
    text-align: justify;
}

.contact-form .btn {
    width: 100%;
}

.required-field {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

p {
    color: #555;
    line-height: 1.6;
}