body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron h2 {
    font-size: 48px;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Estilo de fuente en negrita */
    color: #b9270d;
    /* Color del texto destacado */
    text-align: center;
    /* Alineación del texto en el centro */
    text-transform: uppercase;
    /* Convertir el texto en mayúsculas */
    letter-spacing: 2px;
    /* Espaciado entre letras */
}

.jumbotron p {
    text-align: justify;
}

.city-name {
    font-size: 20px;
    font-weight: bold;
}

.line-separator {
    margin-top: -10px;
    margin-bottom: 10px;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}